body {background-color: navajowhite}

body{background-image: url("https://cdn.pixabay.com/photo/2018/07/14/12/19/image-3537497_960_720.jpg");}

#container h1.fancy-header {
    margin: 50px auto;
    width: 500px;
    padding: 10px;
}
#container .fancy-header {
    text-decoration: underline;
}

#container {
    font-family: "Apple Chancery";
}

tr.padding {
    padding: 20px;
}

ul.fancy-list {
    list-style-type: square;
}

ol.fancy-list {
    list-style-type: upper-roman;
}


li:hover {
    background-color: lightseagreen;
}